<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us- Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">

    <link rel="stylesheet" href="../../static/css/aboutTeam.css">
    <link rel="stylesheet" href="../../static/css/support.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
    <link rel="stylesheet" href="../../static/css/logo.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Glitch&display=swap" rel="stylesheet">  
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="navbar">
        <div class="title">
          <a href="{{ url_for('index') }}">Fake Real</a>
        </div>

        <div class="pages">
          <a href="{{ url_for('about') }}" class="nav-hover">About</a>
          <a href="{{ url_for('dashboard') }}" class="nav-hover">Profile</a>
          <a href="https://www.ic3.gov/" class="report-button">Report a case!</a>
        </div>
      </div>
    </nav>

    <!-- Header/Mission Point -->
    <div class="head fullscreen-section">
      <div class="vision">
        <h1>VISION</h1>
        <h2>Be aware and be informed. <br>Be in charge of your safety and life.</h2>

        <p>
          FakeReal is dedicated to raising awareness about deepfakes and AI-generated images, 
          empowering everyday people to easily identify them.  As technology evolves, 
          so does our need to understand its impact. We offer a free service to detect deepfakes 
          and AI-generated images, providing clear explanations alongside our results. Our goal 
          is to simplify deepfake identification and reporting.
        </p>
      </div>
        
      <!-- <img src="imgs/img-holder.png" alt="holder" class="img-size"> -->
    </div>

    <!-- About Team -->
    <div class="team revealable-team">
      <h1>Meet the Team</h1>
      
      <div class="all-list">
        <div class="frontend">
          <h2>Frontend</h2>
          <div class="list">
            <div class="members">
              <img src="../static/imgs/icons/profile.png" alt="temp" class="profile-img">
              <h3>Letizia Maukar</h3>
              <p>Project Manager,<br>UX and UI Designer</p>

              <div class="socials">
                <a href="https://www.linkedin.com/in/letizia-maukar-386976187/"><img src="../static/imgs/icons/linkedin.png" alt="letizia's linkedin"></a>
                <a href="https://github.com/ohmarcie"><img src="../static/imgs/icons/github.png" alt="letizia's github"></a>
              </div>
            </div>

            <div class="members">
              <img src="../static/imgs/icons/profile.png" alt="temp" class="profile-img">
              <h3>Rajesh Reddy</h3>
              <p>UX and UI Designer</p>
              
              <div class="socials">
                <a href="https://www.linkedin.com/in/rajesh-reddy-38198628a/"><img src="../static/imgs/icons/linkedin.png" alt="rajesh's linkedin"></a>
                <a href="https://github.com/Jesh316"><img src="../static/imgs/icons/github.png" alt="rajesh's github"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="backend">
          <h2>Backend</h2>
          <div class="list">
            
            <div class="members">
              <img src="../static/imgs/icons/profile.png" alt="temp" class="profile-img">
              <h3>Fatima Sarr</h3>
              <p>Quality Tester,<br>Software Developer</p>
              
              <div class="socials">
                <a href="https://www.linkedin.com/in/fatima-sarr-6ab3aa190/"><img src="../static/imgs/icons/linkedin.png" alt="fatima's linkedin"></a>
                <a href="https://github.com/fatima-sr"><img src="../static/imgs/icons/github.png" alt="fatima's github"></a>
              </div>
            </div>

            <div class="members">
              <img src="../static/imgs/icons/profile.png" alt="temp" class="profile-img">
              <h3>Liam Bagabag</h3>
              <p>Software Developer,<br>ML/AI Engineer</p>
              
              <div class="socials">
                <a href="https://www.linkedin.com/in/lbzfran/"><img src="../static/imgs/icons/linkedin.png" alt="liam's linkedin"></a>
                <a href="https://github.com/lbzfran"><img src="../static/imgs/icons/github.png" alt="liam's github"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="blur-parent-two">
      <div class="team-blur"></div>
      <div class="support-blur-into"></div>
    </div>

    <!-- Support Box -->
    <div class="support-page" id="support">
      <div class="support">
        <h1>"Penny for your thoughts?"</h1>  
        <h2>Need any support? Or have any feedback?</h2>
        <h2>Let us know!</h2>
      </div>

      <div class="support-box">
        <!-- Success message section -->
        {% if success_message %}
        <div class="alert alert-success" id="success-message">
        {{ success_message }}
        </div>
        {% endif %}

        <!-- Flash messages (for errors) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                    {{ message }}
              </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

        <form action="" method="post" class="support-form">
          <div class="email-details">
              <div class="user-info-fname">
                  <!-- Input form details for support box, data will be sent to database -->
                  {{ form.hidden_tag() }}
                  {{ form.first_name.label }}
                  {{ form.first_name(class="first_name", id="firstName", rows="1", placeholder="e.g. John") }}
              </div>
              <div class="user-info-lname">
                  {{ form.last_name.label }}
                  {{ form.last_name(class="last_name", id="lastName", rows="1", placeholder="e.g. Smith") }}
              </div>
          </div>

          <div class="email-box">
              {{ form.email.label }}
              {{ form.email(class="email-text", id="email", rows="1", placeholder="e.g. gmail, yahoo, edu") }}
          </div>
          
          <div class="subject-box">
              {{ form.subject.label }}
              {{ form.subject(class="subject-box-text", id="subject", rows="1", placeholder="e.g. feedback, support request") }}
          </div>

          <div class="message-box">
              {{ form.message.label }}
              {{ form.message(class="message-input", id="comment", placeholder="Type in message...") }}
          </div>

          <div class="counter-container"> 
            <p>Total characters: 
              <span class="total-container"
                id="total-container"> 
                0 
              </span> 
            </p> 
            <p> 
              Remaining characters: 
              <span class="remaining-container"
                id="remaining-container"> 
                245
              </span> 
            </p> 
          </div> 

          <!-- <br> -->

          <div class="send-submit">
              {{ form.submit(class="send-button", id="configure-button", type="submit") }}
          </div>
        </form>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">

      <div class="upper-half">
        <div class="fakereal-here">
          <h1>FakeReal</h1>
          <p>Our mission to bringing AI detection to the general public.</p>

          <div class="links">
            <div class="download">
              <a href="holder">
                <img src="../static/imgs/icons/chrome_extension.png" alt="chrome extension">

                <div class="download-text">
                  <h1>Scan images at real time!</h1>
                  <p>Download our Chrome Extension</p>
                </div>
              </a>
            </div>

            <div class="report">
              <a href="https://www.ic3.gov/">
                <img src="../static/imgs/icons/alert.png" alt="report">

                <div class="report-text">
                  <h1>Report a case!</h1>
                  <p>Click here to report a case</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="links-collection">
          <div class="details">
            <h3>Navigation</h3>
            
            <p><a href="{{ url_for('about') }}">Contact Us</a></p>
            <p><a href="{{ url_for('about') }}">FAQ</a></p>
  
            <br>
  
            <p><a href="{{ url_for('login') }}">Log In</a></p>
            <p><a href="{{ url_for('signup') }}">Sign Up</a></p>
          </div>  

          <div class="contact-us">
            <h3>Get in touch</h3>

            <p>&#9993; fakere.41@gmail.com</p>
            <p>
              <a href="https://www.csulb.edu/college-of-engineering/computer-engineering-computer-science">
              <i>&#xf279;</i> Cal State Univeristy, Long Beach
              </a>
            </p>
          </div>

          <div class="downloads">
            
          </div>
        </div>
      </div>

      <hr>

      <div class="important">
        <p>&copy; 2024 Fake Real™. All rights reserved.</p>
        <p class="csulb">Supported and developed by CSULB and CSULB students.</p>
      </div>
    </footer>

    <script src="../../static/js/logo-animation.js"></script>
    <script src="../../static/js/animation.js"></script>
    <script src="../../static/js/word-count.js"></script>
    <script src="../../static/js/success-submit.js"></script>

  </body>
</html>
