.vision {
    text-align: left;

    h1 {
        text-align: left;
        font-size: 3rem;
        color: #000000; 
        /* font-family: sans-serif; */
        font-weight: bold;
        /* margin-right: 25px; */
        padding: 40px 25px 0px 25px;
    }

    h2 {
        font-size: 2rem;
        color: rgb(100, 90, 78);
        padding: 0px 25px 0px 25px;
    }

    p{
        text-align: left;
        margin: 0px;
        /* margin-right: 25px; */
        font-size: 2rem;
        color: #000000;
        padding: 0px 45px 0px 25px;
    }
}

.img-size {
    max-width: 50%;
    max-height: 50%;
    border-radius: 20px;
    margin: 20px 0px 0px 0px;
}

.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 80px 50px 80px 50px; */
}

/* Team */
.team {
    /* background-color: #797454; */
    background-color: #828e73;
    border-radius: 20px 20px 0px 0px;

    /* padding: 80px 50px 80px 50px; */
    padding: 6rem 1rem;

    text-align: left;
    

    h1 {
        text-align: left;
        font-size: 3rem;
        color: #000000; 
        /* font-family: sans-serif; */
        font-weight: bold;
        margin-right: 25px;
    }
}

.members {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 25px;
    /* margin-bottom: 0px; */
    margin-top: 0px;
    align-items: center;

    img {
        width: 200px;
    }

    p {
        margin: 0;
    }
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 5px;
}

.socials img {
    width: 35px;
    margin: 8px 2px 0px 2px;
}

.all-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.frontend h2 {
        text-align: left;
        font-size: 1rem;
        color: #000000; 
        /* font-family: sans-serif; */
        font-weight: bold;
        margin-right: 25px;
}

.backend h2 {
        text-align: left;
        font-size: 1rem;
        color: #000000; 
        /* font-family: sans-serif; */
        font-weight: bold;
        margin-right: 25px;
}