.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: scroll; */

    padding: 1rem 1rem 6rem 1rem;
    background-color: #3a3b3f;
    /* background-color: #dfbe90; */

    h1 {
        font-size: 3rem;
        /* color: black; */
        color: #fcf8fc;
        margin: 0;
        padding: 0;
        opacity: 50%;
    }

    h2 {
        /* max-width: 10rem; */
        font-size: 1rem;
        padding: 0rem 2rem 2rem 2rem;
        margin: 0;

        text-align: center;
        color: #fcf8fc;
        opacity: 50%;
    }
}

/* the articles */
.article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-button {
    button {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;

        border-radius: 2rem;
        color: black;
        background-color: white;

        padding: 1rem 2rem;

        font-weight: bold;
    }
    
    button:hover {
            transition: color 0.3s ease; /* Smooth hover effect */
            background-color: #84a0ad;
    }
}

.article-info {
    display: flex;
    flex-direction: row;

    /* width: 40rem; */
    /* padding: 1rem 2rem; */
    margin: 0.5rem 1rem;

    border-radius: 2rem;
    background-color: #5E7381;
}

.article p {
    font-size: 0.9rem;
    text-align: left;
}

.article img{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    /* opacity: 80%; */

    border-radius: 2rem;
    padding: 1rem 1rem;
}

/* .overlay {
    border-image: 
    linear-gradient(
        hsla(0, 0%, 17%, 0.3), 
        hsla(0, 0%, 7%, 0.3))
    fill 1;
} */

.author-release {
    display: flex;
    flex: row;
    justify-content: space-between;

    margin: 0rem;
    padding: 0rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 1.5rem 2rem 1.5rem 0rem;

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;

        margin: 0rem;
        padding: 0rem;

        h3 {
            font-size: 1.8rem;
            margin: 0rem;
            padding: 0rem;
        }
    }
}

#show-more {
    background-color: #ffd786;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    cursor: url('../imgs/mouse/white-pointer.png'), default !important;
}


/* the exit button */
.exit a button {
    border-radius: 3rem;
    background-color: #fcf8fc;

    p {
        padding: 0.1rem 1rem;
        font-weight: bolder;
        color: black;
    }
}

.exit a button:hover {
    background-color: #ffd786;
    transform: translateX(-0.2rem);

    p {
        padding: 0rem 0.9rem;
        color: #980b2d;
    }
}

.exit {
    display: flex;
    justify-content: end;
    padding: 1rem 1rem 0rem 0rem;
}
