/* General Styles */
html {
  height: 100%;
}

body {
  cursor: url('../imgs/mouse/blue-mouse.png'), auto !important;

  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;

  /* background-color: rgb(249, 247,240); */
  background-color: #DACBB6;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Font Styles */
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.prosto-one-regular {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Custom cursor */
.cursor {
  cursor: url('../imgs/mouse.png'), default !important;
}

/* Adjustment for the footer */
.main-content {
  flex-grow: 1;
}

/* Heading Styles */
h1 {
  text-align: center;
  color: rgb(60, 60, 60);
}

/* Paragraph Styles */
p {
  text-align: center;
  color: rgb(74, 73, 71); 
}

/* Navigation Bar Styles */
nav {
  /* background-color: rgb(219, 210, 194); */
  background-color: #5E7381;

  overflow: hidden;
  /* box-shadow: 0 4px 6px rgba(169, 148, 107, 0.1); Adds a subtle shadow for depth */
  box-shadow: 0 4px 6px rgba(81, 101, 122, 0.279); /* Adds a subtle shadow for depth */
}

.navbar {
  list-style: none;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Ensures spacing for the title */
  align-items: center; /* Vertically centers the items */
}

.navbar .title {
  font-size: 2rem;
  font-weight: bold;
  color: #825c42;
  margin-left: 20px; /* Adds space to the left of the title */
  text-transform: uppercase; /* Makes the title all caps */
}

.navbar li {
  margin: 0 8px;
}

.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  display: block;
  font-weight: bold; /* Makes the links stand out */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.navbar a:hover {
  cursor: url('../imgs/mouse/white-pointer.png'), default !important;
  transition: all 0.3s ease;
  /* background-color: rgb(36, 34, 30); */
  /* border-radius: 10px; */
  color: rgb(74, 74, 74);
}

/* .navbar button {
  border-radius: 10px;
  color: #825c42;

  a {
    background-color: none;
    color: rgb(36, 34, 30);
  }

  a:hover {
    background-color: #e1d8cc;
    color: #575342;
  }
} */

.navbar img {
  width: 4rem;

  padding: 0rem;
  margin: 0rem;

  :hover {
    text-decoration: none;
    background-color: none;
    color: none;
  }
}

.report-button {
  a {
    background-color: rgb(185, 47, 47);
    border-radius: 30px;
    
    color: black;
    font-weight: 80;
    font-size: 1rem;

    text-align: center;

    transition: background-color 0.3s ease-in; 
  }

  a:hover {
    background-color: rgb(119, 45, 45);
    color: rgb(35, 35, 35);

    border-radius: 30px;
    transition: background-color 0.3s ease-in; 
  }
}

/* Responsive Design */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Stacks the links vertically on smaller screens */
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar .title {
    margin-left: 0; /* Centers the title on smaller screens */
  }
}


/* Full screen section */
.fullscreen-section {
  width: 100%;  /* Set the width to 100% of the viewport width */
  height: 95dvh; /* Set the height to 100% of the viewport height */
  margin: 0;     /* Remove any default margin */
  padding: 0;    /* Remove any default padding */
  overflow: hidden; 
}
