/* General Styles */
html {
  height: 100%;

  /* stops the bouncy overscrolling behavior */
  overscroll-behavior: none; 
}

body {
  cursor: url('../imgs/mouse/blue-mouse.png'), auto !important;

  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;

  /* background-color: #1a2431; */
  background-color: #647764;

  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

/* Font Styles */
.noto-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Custom cursor */
.cursor {
  cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
}

/* Adjustment for the footer */
.main-content {
  flex-grow: 1;
}

/* Heading Styles */
h1 {
  text-align: center;
  /* color: rgb(60, 60, 60); */
  color: #fcf8fc;
}

/* Paragraph Styles */
p {
  text-align: center;
  /* color: rgb(74, 73, 71);  */
  color: #fcf8fc;
}

/* Responsive Design */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Stacks the links vertically on smaller screens */
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar .title {
    margin-left: 0; /* Centers the title on smaller screens */
  }
}


/* Full screen section */
.fullscreen-section {
  width: 100%;  /* Set the width to 100% of the viewport width */
  height: 75dvh; /* Set the height to 100% of the viewport height */
  margin: 0;     /* Remove any default margin */
  padding: 0;    /* Remove any default padding */
  overflow: hidden; 
}


/* interactive UI design */
.revealable {
  position: relative;
  transform: translateY(10rem);
  opacity: 0.9;
  transition: all 1s ease;
}

.revealable.active {
  opacity: 1;
  transform: translateY(0rem);
}

.revealable-team {
  position: relative;
  transform: translateY(12rem);
  opacity: 0.9;
  transition: all 1s ease;
}

.revealable-team.active {
  opacity: 1;
  transform: translateY(6rem);
}

.scale {
  opacity: 0.8;
  transform: scale(0.8);
  transition: all 1s ease;
  background-color: transparent;
}

.scale.active {
  background-color: transparent;
  opacity: 1;
  transform: scale(1);
}

.nav-scale {
  opacity: 0.8;
  transform: scale(0.8);
  transition: all 2s ease;
  background-color: transparent;
}

.nav-scale.active {
  background-color: transparent;
  opacity: 1;
  transform: scale(1);
}

.ex-scale {
  opacity: 0.8;
  transform: scale(0.8);
  transition: all 2s ease;
  background-color: transparent;
}

.ex-scale.active {
  background-color: #fcf8fc;
  opacity: 1;
  transform: scale(1);
}

/* for the blurs */
.blur-parent {
  overflow: hidden;
  position: relative;

  height: 20rem;
}

.blur-parent-two {
  overflow: hidden;
  position: relative;

  height: 18rem;
}