.cabinet-lid {
    background-color: #100906;
    padding: 0.2rem;
}

.cabinet {
    height: 10rem;

    /* background-color: rgb(175, 175, 175); */
    background-color: #242020;
    padding: 0rem 4rem 2rem 4rem;
    border: 0.2rem solid #100906;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
}

.handle a button {
    border-radius: 0 0 2rem 2rem;
    background-color: #221e1e;
    border: 0.2rem solid rgb(94, 94, 94);

    padding: 1.5rem 5rem;

    cursor: url('../imgs/mouse/white-pointer.png'), auto;
}

.cabinet-label {
    margin: 1rem 0rem;
    padding: 1.5rem 2rem;

    height: 1rem;
    width: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: .5rem solid #100906;
    border-radius: 0.2rem;
    background-color: #fcf8fc;

    h1 {
        font-size: .8rem;
        color: #100906;
        opacity: 100%;
    }
}

/* when there are no articles */
.no-articles {
    color: black;
}

/* files */
.files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    justify-content: center;
    /* align-items: center; */
}
