.cabinet-lid {
    background-color: rgb(34, 34, 34);
    padding: 0.2rem;
}

.cabinet {
    height: 25rem;


    background-color: rgb(175, 175, 175);
    padding: 0rem 4rem 2rem 4rem;
    border: 0.2rem solid rgb(34, 34, 34);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
}

.handle button {
    border-radius: 0 0 2rem 2rem;
    background-color: silver;
    border: 0.2rem solid rgb(34, 34, 34);

    padding: 2.5rem 10rem;

    cursor: url('../imgs/mouse/white-pointer.png'), auto;
}

.cabinet-label {
    margin: 5rem 0rem 5rem 0rem;
    padding: 1.5rem 2rem;

    height: 2rem;
    width: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1.5rem solid rgb(34, 34, 34);
    background-color: rgb(227, 227, 227);

    h1 {
        font-size: 1.5rem;
    }
}