.deepfake-examples {
    text-align: center;
    /* padding: 20px 0px 20px 0px; */

    padding: 80px 25px 80px 25px;
    /* background-color: rgb(100, 90, 78); */
    background-color: rgb(179, 168, 155);
    /* border-radius: 20px 20px 0px 0px; */

    display: flex;
    flex-direction: column;
}

.title-examples {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        /* color: rgb(185, 180, 173); */
        color: black;
        text-align: left;
        margin-left: 35px;
        font-size: 2rem;
    }
}

.example-list {
    display: flex;
    flex-direction: row;

    margin: 0rem 2rem 0rem 0rem;

    /* align-items: center; */
    justify-content: center;

    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
}

.example {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    align-items: center;

    margin: 0rem 2rem 0rem 2rem;
    padding: 1.5rem 2rem;

    background-color: #EAC8A6;
    border-radius: 2rem;
    border-color: rgb(34, 34, 34);

    h4 {
        /* color: black; */
        font-size: 1.25rem;
        color: rgb(34, 34, 34);
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }

    p {
        font-size: 0.8rem;
        margin: 0px;
        padding: 0px 0px 0px 0px;
    }

    img {
        object-fit: cover;
        border-radius: 2rem;
        width: 25rem;
        height: 25rem;
        border-color: rgb(34, 34, 34);
    }

    video {
        object-fit: cover;
        border-radius: 2rem;
        width: 25rem;
        height: 25rem;
        border-color: rgb(34, 34, 34);
    }
}

/* buttons */
.prev, .next {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5rem;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 5px 0px 5px;
}

.prev:hover, .next:hover {
    color: rgba(0,0,0,0.5);
}

/* dots */
.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /* transition: background-color 0.6s ease; */
}

.active, .dot:hover {
    background-color: #717171;
}

/* slides */
.mySlides {
    display: none;
}


/* adjust base on device screen size */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}