.sticky_parent {
    /* background-color: rgb(179, 168, 155); */
    background-color: #1a2431;

    height: 150vh;
}

.deepfake-examples {
    /* text-align: center; */
    /* padding: 1rem; */
    /* display: flex; */
    /* flex-direction: column; */

    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
}

/* section {
    height: 90vh;
} */

/* the title of the section */
.title-examples {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-top: 1.75rem;

    h2 {
        /* color: rgb(185, 180, 173); */
        /* color: black; */
        color: #5e7381;
        text-align: left;
        margin-left: 35px;
        font-size: 2rem;
        padding: 0rem 0rem 0rem 2rem;
    }
}

/* the examples listed */
.example-list {
    position: absolute;
    top: 0;
    height: 100vh;
    /* width: 100%; */
    will-change: transform;
    display: flex;

    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0vw 0rem 2rem;
}

/* the individual examples */
.example {
    /* other styles */
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 70vh;

    margin: 0rem 2rem 0rem 2rem;
    padding: 1.5rem 2rem;

    background-color: #fcf8fc;
    border-radius: 1.5rem;
    border: 0.2rem solid #5e7381;

    h4 {
        font-size: 1.25rem;
        /* color: #fcf8fc; */
        color: rgb(34, 34, 34);
        margin: 10px 0px 0px 0px;
        padding-bottom: 0.5rem;
    }

    p {
        color: rgb(34, 34, 34);
        /* color: #5E7381; */
        font-size: 0.8rem;
        margin: 0px;
        padding: 0px 1rem;
        overflow: scroll;
    }

    img, video {
        object-fit: cover;
        border-radius: 1.5rem;
        width: 25rem;
        height: 22rem;
        border: 0.2rem solid #5e7381;
        filter: grayscale(100%);
        transition: all 0.6s ease;
    }

    img:hover {
        filter: grayscale(0%);
        transition: all 0.6s ease;
        cursor: url('../imgs/mouse/white-mouse.png'), auto;
    }

    video:hover {
        filter: grayscale(0%);
        transition: all 0.6s ease;
        cursor: url('../imgs/mouse/white-mouse.png'), auto;
    }
}

/* buttons */
.prev, .next {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5rem;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 5px 0px 5px;
}

.prev:hover, .next:hover {
    color: rgba(0,0,0,0.5);
}

/* dots */
/* .dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
} */

/* slides */
.mySlides {
    display: none;
}


/* adjust base on device screen size */
@media only screen and (min-width: 600px) {
    .sticky_parent {
        /* background-color: rgb(179, 168, 155); */
        background-color: #1a2431;
    
        height: 400vh;
    }
}

/* for the carousel */
.scroll_section {
    position: absolute;
    top: 0;
    height: 100%;
    will-change: transform;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 0 0vw;
}