/* Footer Styles */
.footer {
    cursor: url('../imgs/mouse/white-mouse.png'), auto !important;

    text-align: center;
    padding: 10px 20px;

    /* background-color: #3b3d66; */
    /* background-color: #1a2431; */
    background-color: #535651;

    border-top: #c0b695 solid 0.2rem;

    bottom: 0;
    /* width: 100%; */
    font-size: 1rem;
  
    p {
        cursor: url('../imgs/mouse/white-mouse.png'), auto !important;
        margin: 0rem;
        padding: 0rem;
    }

    p a {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
        color: #000;
        margin: 0rem;
        padding: 0rem;
        text-decoration: none;
    }

    p a:hover {
        color: #c0b695;
        text-decoration: underline;
    }

    hr {
        cursor: url('../imgs/mouse/white-mouse.png'), auto !important;
    }
}

hr {
    color: #c0b695;
}

.links {
    padding: 0rem;
    margin: 0rem;

    align-items: right;
}

/* Fakereal dets */
.fakereal-here {
    display: flex;
    flex-direction: column;

    justify-content: left;

    max-width: 50%;
}

.fakereal-here h1 {
    color: #c0b695;
    font-size: 3rem;

    text-align: left;
    padding: 0rem 0.5rem;
    margin: 0rem;
}

.fakereal-here p {
    color: #c0b695;
    font-size: 1.2rem;
    font-style: italic;

    text-align: left;
    padding: 0rem 0.5rem 1rem 0.5rem;
    margin: 0rem;
}



/* upper half of the footer */
.upper-half {
    display: flex;
    flex-direction: row;

    gap: 5rem;
    justify-content: space-between;
    /* align-items: center; */
    align-items: self-start;

    padding: 0rem 0rem 0.8rem 0rem;

    h3 {
        color: #c0b695;
        margin: 0rem 0rem 0.2rem 0rem;
    }
}


/* For the chrome extension download */
.download {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    margin: 0rem;
    /* padding: 0.8rem 0rem 0.5rem 0rem; */
    padding: 0.5rem 0rem;

    background-color: #262528;
    border: #ff9b18 0.1rem solid;
    border-radius: 2rem;

    h1 {
        color: #ff9b18;
        font-size: 0.8rem;
        text-align: left;

        margin: 0rem;
        padding: 0rem;
    }

    p {
        margin: 0rem;
        padding: 0rem;

        font-size: 0.6rem;
        text-align: left;

        color: #fcf8fc;

        cursor: url('../imgs/mouse/white-pointer.png'), auto;
    }

    a{
        cursor: url('../imgs/mouse/white-pointer.png'), auto;
    }

    img {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
        height: 1.5rem;
        padding: 0.2rem 0.8rem 0rem 0.1rem;
        margin: 0rem;
    }

    /* img:hover {
        filter: contrast(50%);
    } */
}

.download:hover {
    cursor: url('../imgs/mouse/white-pointer.png'), auto;
    background-color: #4c494f;
    border: #8f8b91 solid 0.1rem;

    h1 {
        color: #ac8675;
    }

    p {
        color: #8f8b91;
    }
        
    img {
        filter: contrast(30%);
    }
}

/* .download2 {
    display: flex;
    flex-direction: row;
    align-items: right;
    margin: 0rem;
    padding: 0.8rem 0rem 0.5rem 0rem;

    h1 {
        color: #e88709;
        font-size: 1rem;
        text-align: left;

        margin: 0rem;
        padding: 0rem;
    }

    p {
        margin: 0rem;
        padding: 0rem;

        font-size: 0.8rem;
        text-align: left;
    }

    a{
        cursor: url('../imgs/mouse/white-pointer.png'), auto;
    }

    img {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
        height: 2rem;
        padding: 0rem 0.8rem 0rem 0.1rem;
        margin: 0rem;
        filter: brightness(80%);
    }

    img:hover {
        filter: contrast(50%);
    }
} */

.download-text {
    display: flex;
    flex-direction: column;
    
    text-align: left;

    margin: 0rem;
    padding: 0rem;
}



/* For the report a case button */
.report {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* margin: 0rem; */
    /* padding: 0.1rem 0rem 0.8rem 0rem; */
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 0.5rem 0rem;

    background-color: #262528;
    border: #e90000 0.1rem solid;
    border-radius: 2rem;

    h1 {
        color: #e90000;
        font-size: 0.8rem;

        margin: 0rem;
        padding: 0rem;

        text-align: left;
    }

    p {
        margin: 0rem;
        padding: 0rem;

        font-size: 0.6rem;
        text-align: left;

        color: #fcf8fc;
    }

    img {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
        height: 1.5rem;
        padding: 0rem 0.8rem 0rem 0.1rem;
        margin: 0rem;
    }

    /* img:hover {
        filter: contrast(50%);
    } */
}

.report:hover {
    cursor: url('../imgs/mouse/white-pointer.png'), auto;
    background-color: #4c494f;
    border: #3e2424 solid 0.1rem;

    h1 {
        color: #3e2424;
    }

    p {
        color: #8f8b91;
    }
        
    img {
        filter: contrast(30%);
    }
}

/* .report2 {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0rem;
    padding: 0.1rem 0rem 0.8rem 0rem;

    h1 {
        color: #bc0000;
        font-size: 1rem;

        margin: 0rem;
        padding: 0rem;

        text-align: left;
    }

    p {
        margin: 0rem;
        padding: 0rem;

        font-size: 0.8rem;
        text-align: left;
    }

    img {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
        height: 2rem;
        padding: 0rem 0.8rem 0rem 0.1rem;
        margin: 0rem;
        filter: brightness(70%);
    }

    img:hover {
        filter: contrast(50%);
    }
} */

.report-text {
    display: flex;
    flex-direction: column;
    
    text-align: left;

    margin: 0rem;
    padding: 0rem;
}


/* Constant Footer */
.important {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 1rem;
    /* align-items: left; */
    justify-content: space-between;

    padding: 0.5rem 0rem 0rem 0rem;
    margin: 0rem;

    cursor: url('../imgs/mouse/white-mouse.png'), auto !important;

    p {
        color: #c0b695;
        cursor: url('../imgs/mouse/white-mouse.png'), auto !important;
    }
}

.csulb {
    color: #8c8a9f;
    cursor: url('../imgs/mouse/white-mouse.png'), auto !important;
}

/* extra details */
.details {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

    padding: 0.5rem 0rem 0rem 0rem;
    margin: 0rem;
}

/* .details2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

    padding: 0.5rem 0rem 0rem 0rem;
    margin: 0rem;

    h3 {
        color: #1a2431;
    }
} */


/* links collection */
.links-collection {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

    align-items: self-start;
    justify-content: space-between;
    
    gap: 2rem;
    padding: 1rem 4rem;
}

/* contact us */
.contact-us {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

    padding: 0.5rem 0rem 0rem 2rem;
    margin: 0rem;

    p {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
        color: #000;
        margin: 0rem;
        padding: 0rem;
        text-decoration: none;

        width: 12rem;
    }

    p:hover {
        color: #c0b695;
        text-decoration: underline;
    }
}