/* Footer Styles */
footer {
    cursor: url('../imgs/mouse/white-mouse.png'), auto !important;

    text-align: center;
    padding: 10px 20px;
    /* background-color: #3b3d66; */
    background-color: #1a2431;
    bottom: 0;
    /* width: 100%; */
    font-size: 1rem;
  
    p {
        cursor: url('../imgs/mouse/white-mouse.png'), auto !important;
        src: url(https://fonts.gstatic.com/s/baloothambi2/v17/cY9cfjeOW0NHpmOQXranrbDyu7hPDpKBZQ.woff2) format('woff2');
        font-family: 'Baloo Thambi 2';
        color: azure;
        text-align: left;
        margin: 0rem;
        padding: 0rem;
    }

    hr {
        cursor: url('../imgs/mouse/white-mouse.png'), auto !important;
    }
}

hr {
    color: 8c8a9f;
}

.links {
    padding: 0rem;
    margin: 0rem;

    align-items: right;
}

/* Fakereal dets */
.fakereal-here h1 {
    color: #8c8a9f;
}

/* upper half of the footer */
.upper-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 0rem 0.8rem 0rem;

    h3 {
        color: #8c8a9f;
        margin: 0rem 0rem 0.2rem 0rem;
    }
}

/* For the chrome extension download */
.download {
    display: flex;
    flex-direction: row;
    align-items: right;
    margin: 0rem;
    padding: 0.8rem 0rem 0.5rem 0rem;

    h1 {
        color: #ff9b18;
        font-size: 1rem;
        text-align: left;

        margin: 0rem;
        padding: 0rem;
    }

    p {
        margin: 0rem;
        padding: 0rem;

        font-size: 0.8rem;
        text-align: left;
    }

    a{
        cursor: url('../imgs/mouse/white-pointer.png'), auto;
    }

    img {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
        height: 2rem;
        padding: 0rem 0.8rem 0rem 0.1rem;
        margin: 0rem;
    }
}

.download-text {
    display: flex;
    flex-direction: column;
    
    text-align: left;

    margin: 0rem;
    padding: 0rem;
}


/* For the report a case button */
.report {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0rem;
    padding: 0.1rem 0rem 0.8rem 0rem;

    h1 {
        color: #e90000;
        font-size: 1rem;

        margin: 0rem;
        padding: 0rem;

        text-align: left;
    }

    p {
        margin: 0rem;
        padding: 0rem;

        font-size: 0.8rem;
        text-align: left;
    }

    img {
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
        height: 2rem;
        padding: 0rem 0.8rem 0rem 0.1rem;
        margin: 0rem;
    }
}

.report-text {
    display: flex;
    flex-direction: column;
    
    text-align: left;

    margin: 0rem;
    padding: 0rem;
}


/* Constant Footer */
.important {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

    padding: 0.5rem 0rem 0rem 0rem;
    margin: 0rem;

    cursor: url('../imgs/mouse/white-mouse.png'), auto !important;

    p {
        cursor: url('../imgs/mouse/white-mouse.png'), auto !important;
    }
}

.csulb {
    color: #8c8a9f;
    cursor: url('../imgs/mouse/white-mouse.png'), auto !important;
}

/* extra details */
.details {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;

    padding: 0.5rem 0rem 0rem 0rem;
    margin: 0rem;
}