.column {
    display: flex;
    flex-direction: column;

    a {
        cursor: url('../imgs/mouse/white-pointer.png'), auto;
        color: #dfbe90;
    }
    
    p {
        color: #fcf8fc;
    }
}

.forgot-password-form {
    max-width: 35rem;
    width: 100%;
    margin: 0.4rem auto 0; /* Add top margin */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-sizing: border-box;

    cursor: url('../imgs/mouse/white-pointer.png'), auto;

    /* max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */

    p {
        color: #000;
    }
}

.forgot-password-form p {
    margin-bottom: 15px;
}

.forgot-password-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-password-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #8f8B91; /* Button color for log in */
    color: white;

    font-weight: 400;
    font-size: 1rem;

    border: none;
    border-radius: 4px;
    border: #000 0.2rem solid;

    box-sizing: border-box;
    transition: all 0.3s ease-in-out; 
}

#email {
    width: 100%;
}

.forgot-password-form input[type="submit"]:hover {
    background-color: #535651;
    border: #c0b695 0.2rem solid;
    color: #c0b695;

    font-weight: 400;

    transition: all 0.3s ease-in-out; 
    cursor: url('../imgs/mouse/white-pointer.png'), auto;
}
