/* Header */
.header {
    margin: 0rem;
    padding: 2rem;
    /* background-color: #3a3f3a; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: auto;
}

.head {
    text-align: left;
    width: 50%;

    h1 {
        text-align: left;
        font-size: 3.2vw;
        /* color: #5E7381; */
        color: #fcf8fc;
        /* font-family: sans-serif; */
        font-weight: bold;
        /* margin-right: 25px; */
        padding: 40px 25px 0px 25px;
    }

    h2 {
        font-size: 2.2vw;
        /* color: #fcf8fc; */
        color: #fcf8fc;
        padding: 0px 25px 0px 25px;
    }

    p{
        text-align: left;
        margin: 0px;
        /* margin-right: 25px; */
        font-size: 1.8vw;
        color: #fcf8fc;
        /* color: #5E7381; */
        padding: 0px 45px 0px 25px;
    }
}

.login-button {
    cursor: url('../imgs/mouse/white-pointer.png'), auto !important;

    background-color: #535651;
    /* background-color: rgb(185, 47, 47); */
    border-radius: 30px;
    border: #000 0.2rem solid;

    color: black;
    font-weight: 80;
    font-size: 1rem;

    text-align: center;
    font-weight: bold;

    margin: 2rem 1rem;
    padding: 0.8rem 1.5rem;

    transition: all 0.5s ease-in-out; 
}

.login-button:hover {
    /* background-color: rgb(119, 45, 45);
    color: rgb(35, 35, 35); */
    /* background-color: #3f2625; */
    border: #c0b695 0.2rem solid;
    color: #c0b695;

    border-radius: 30px;
    transition: all 0.5s ease-in-out; 
}

/* Image Stack */
.images-stack {
    display: flex;
    flex-direction: column;

    height: 70vh;
    width: 50%;

    overflow: hidden;

    position: relative;
    bottom: 10%;
}

.images-stack-top {
    position: relative;
    top: 13%;
    right:-10%;

    object-fit: contain;
    height: 25rem;

    img {
        max-width: 40%;
        max-height: 100%;
        border-radius: 1rem;
        
        cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
    }
}

.images-stack-top:hover{
    .img1 {
        opacity: 0.3;
        transition: all 0.5s ease-in-out;
        border-radius: 1rem;
    }

    .label-real {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 40%;
        opacity: 0.6;
        transition: 0.5s ease;
        background-color: green;
        border-radius: 1rem;
    }

    .label-text {
        padding: 5rem 2rem 5rem 2rem;
    }
}

.images-stack-middle {
    position: relative;
    top: -8%;
    right: -55%;

    object-fit: contain;
    height: 15rem;
    cursor: url('../imgs/mouse/white-pointer.png'), auto !important;

    img {
        /* width: 70%; */
        max-height: 100%;
        border-radius: 1rem;
    }
}

.images-stack-middle:hover {
    .img2 {
        opacity: 0.3;
        transition: all 0.5s ease-in-out;
        border-radius: 1rem;
    }

    .label-fake1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 15rem;
        opacity: 0.6;
        transition: 0.5s ease;
        background-color: red;
        border-radius: 1rem;
    }

    .label-text {
        padding: 5rem 2rem 5rem 2rem;
    }
}

.images-stack-bottom {
    /* filter: grayscale(100%); */

    position: relative;
    bottom: 20%;    
    right: -20%;

    object-fit: contain;
    height: 15rem;

    cursor: url('../imgs/mouse/white-pointer.png'), auto !important;

    img {
        /* width: 50%; */
        max-height: 100%;
        border-radius: 1rem;
    }
}

.images-stack-bottom:hover {
    .img3 {
        opacity: 0.3;
        transition: all 0.5s ease-in-out;
        border-radius: 1rem;
    }

    .label-fake {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 15rem;
        opacity: 0.6;
        transition: 0.5s ease;
        background-color: red;
        border-radius: 1rem;
    }

    .label-text {
        padding: 5rem 2rem 5rem 2rem;
    }
}

.label-real {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 40%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: green;
    border-radius: 1rem;
    
    cursor: url('../imgs/mouse/white-pointer.png'), auto !important;
}

.label-fake1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 15rem;
    opacity: 0;
    transition: 0.5s ease;
    background-color: red;
    border-radius: 1rem;
}

.label-fake {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 15rem;
    opacity: 0;
    transition: 0.5s ease;
    background-color: red;
    border-radius: 1rem;
}

.label-text {
    color: black;
    font-weight: bolder;
    font-size: 2rem;

    transition: color 0.5s ease-in-out;
    
    padding: 5rem 2rem 5rem 2rem;
}

.images-stack-logo {
    position: relative;
    bottom: 5%;
    left: 30%;

    /* transform: translateY(-90%) translateX(20%); */

    z-index: -1;
}


/* Blur */
.blur {
    height: 4rem;
    transform: scale(5);

    filter: blur(8px);
    background-color: #1a2431;
}

.arti-blur {
    background-color: #3a3b3f;
    height: 21rem;
}

.blur-two {
    height: 3rem;
    transform: scale(5);

    filter: blur(8px);
    background-color: #980b2d;
}

.blur-into {
    background-color: #1a2431;
    height: 10rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .head {
        width: 100%;  /* Make the header text content take full width */
    }

    .head h1, .head h2, .head p {
        font-size: 4vw;  /* Make font sizes responsive */
    }

    .login-button {
        width: 100%;
        padding: 1rem 2rem;
    }

    .images-stack {
        width: 100%;
        height: auto;
    }

    .images-stack-top img, .images-stack-middle img, .images-stack-bottom img {
        max-width: 100%;
        width: 100%;
    }
}