.eyeball {
    position: relative;

    bottom: -14rem;
    left: -1rem;

    transform: rotate(275deg);
    height: 20vw;

    z-index: 0;

    transition: all 0.2s ease;
}

#anchor {
    position: relative;

    top: 100%;
    right: -40%;
    height: 20vw;

    z-index: 1;
}