.logo {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;

    img {
        height: 5rem;
        width: 5rem;
        margin-right: 2rem;
        transition: width 0.5s ease, height 0.5s ease, margin-right 0.5s ease; /* Smooth hover effect */

        background-color: transparent; /* Ensure no background color */
        color: inherit; /* Reset color, as "none" is not a valid value */    
    }
}


/* Logos on the side bar */
.text-w-logo a {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

.text-w-logout a {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding-right: 1rem;
    margin-bottom: 0rem;
}

.logos-side {
    padding: 0rem;
    margin: 0rem;

    height: 2rem;

    filter: grayscale(100%);
}

.sidebar-split {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    justify-content: space-between;
}

.sidebar-top {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
