.results-section {
<<<<<<< HEAD
    padding: 2rem 8rem;
    width: 20rem;
=======
    /* padding: 1rem 8rem; */
    /* width: 20rem; */
    /* width: 100%; */
    padding: 4rem;
    position: relative;
    top: 0;
    right: 3rem;
    bottom: 0;
    width: 50vw;
>>>>>>> 002b528e81542fd9b89b16d6fbea46fa17fd8132

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.1);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-download {
    width: 20rem;

    h2 {
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem;
    }
}

.company-stampmark {
    font-style: italic;
    color: grey;
    margin: 0rem;
    padding: 0rem;
}

.verdict p {
    color: #000;
}

/* Image Box */
.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem dashed #ccc;
    padding: 0rem 10rem;
    max-width: 100%; /* Ensure the box takes up the full width of its container */
    height: 20rem;
    overflow: hidden;
    background-color: #f9f9f9;
    box-sizing: border-box; /* Make sure padding doesn't exceed max-width/height */
}

.image-box p {
    margin: 0; /* Remove default margin for the "No image selected" text */
    color: #888; /* Gray text for placeholder */
}

.main-content-results {
    /* padding: 10rem 0rem 0rem 3rem; */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 3rem 0rem;
    /* height: 10vh; */
    /* gap: 2rem; */
    padding: 2rem;
}
  
/* .pics-history {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 002b528e81542fd9b89b16d6fbea46fa17fd8132

.scanned_image {
    width: 30rem;
}

<<<<<<< HEAD
=======

>>>>>>> 002b528e81542fd9b89b16d6fbea46fa17fd8132
/* filter the images */
.filter-photos {
    background-color: #ccc;
    border: #000 0.2rem solid;
    border-radius: 2rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: flex-start;
}

.fake-real {
    background-color: #000;
    border: #f9f9f9 0.1rem solid;
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    margin: 0rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.by-dates {
    background-color: #000;
    border: #f9f9f9 0.1rem solid;
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    margin: 0rem;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

/* Previous img data */
.previous-img-data {
    /* height: 100vh; */
    /* background-color: #f9f9f9; */
    border: #f9f9f9 0.1rem solid;
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    margin: 0rem;

    p {
        color: #000;
    }
}

/* button download section */
.buttons-download {
    display: flex;
    justify-content: center;
}