/* Sidebar Styles */
.sidebar {

    /* width: 60px; Narrow width for the closed sidebar */
    width: 11rem; /* Wider when hovered */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #5e7381;
    padding: 1rem 0.5rem;
    height: 100vh;
    box-shadow: 2px 0 6px rgba(36, 34, 30, 0.1);

    /* position: static; */
    /* left: -6rem; */
    /* top: 0; */

    transform: translateX(-8rem);

    overflow-y: auto;     
    transition: all 0.5s ease; /* Smooth transition for width change */
}

.sidebar:hover {
    /* left: 10rem; */
    transform: translateX(0rem);

    transition: all 0.5s ease; /* Smooth hover effect */
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: url('../imgs/mouse/white-pointer.png'), auto;
}

.sidebar a:hover {
    background-color: rgb(36, 34, 30);
    border-radius: 10px;
    color: #5e7381;

    img {
        filter: invert();
    }
}

/* Hide descriptions by default */
.sidebar .description {
    display: none;
    margin-left: 10px;
}

/* Show descriptions when sidebar is hovered */
.sidebar:hover .description {
    display: inline-block;
}

/* When sidebar is expanded, apply margin to main content */
.sidebar.open + .main-content {
    transform: translateX(4rem);
    /* margin-left: 12rem;  */
    /* Slide the content to the right when sidebar is open */
}

/* Responsive Design */
@media (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .main-content {
        margin-left: 0;
    }
}
