/* Sidebar Styles */
.sidebar {

    /* width: 60px; Narrow width for the closed sidebar */
    width: 11rem; /* Wider when hovered */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #c0b695;
    /* background-color: #878672; */

    padding: 1rem 0.5rem;
    /* height: 100vh; */
    box-shadow: 2px 0 6px rgba(36, 34, 30, 0.1);

    /* position: static; */
    /* left: -6rem; */
    /* top: 0; */

    transform: translateX(-8rem);

    overflow-y: auto;     
    transition: all 0.5s ease-in-out 0s; /* Smooth transition for width change */
}

.sidebar:hover {
    /* left: 10rem; */
    transform: translateX(0rem);

    transition: all 0.5s ease-in-out; /* Smooth hover effect */
}

.sidebar a {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    cursor: url('../imgs/mouse/white-pointer.png'), auto;

    img {    
        transition: all 0.5s ease-in-out;
    }
}

.sidebar a:hover {
    /* background-color: rgb(36, 34, 30); */
    background-color: #262b26;
    /* border-radius: 10px; */
    /* color: #5e7381; */
    color: #fcf8fc;

    img {
        filter: invert();
    }
}

/* Hide descriptions by default */
.sidebar .description {
    display: none;
    margin-left: 10px;
}

/* Show descriptions when sidebar is hovered */
.sidebar:hover .description {
    display: inline-block;
}

/* When sidebar is expanded, apply margin to main content */
.sidebar.open + .main-content {
    /* transform: scale(0.8rem); */
    transform: translateX(8rem);

    /* transition: all 0.5s ease-in-out; */
    /* margin-left: 12rem;  */
    /* Slide the content to the right when sidebar is open */
}

/* In your main dashboard stylesheet */
.dark-mode {
    background-color: #222;
    color: #f0f0f0;
}

.light-mode {
    background-color: #fff;
    color: #222;
}

