.support {
    text-align: left;

    h1 {
        text-align: left;
        font-size: 1rem;
        color: #000000; 
        /* font-family: sans-serif; */
        font-weight: bold;
        margin-right: 25px;
    }

    h2 {
        font-size: 2rem;
        margin: 0;
        color: rgb(100, 90, 78);
    }
}

.support-box {
    /* background-color: rgb(241, 245, 242); */
    background-color: rgb(179, 168, 155);
    padding: 20px;
    text-align: left;
    margin: 20px 25px 0px 0px;
    border-radius: 10px;
}

textarea {
    background-color: white;
}

label {
    cursor: url('../imgs/mouse/blue-mouse.png'), auto;
}

::placeholder {
    font-size: 0.8rem;
}

.support-page {
    background-color: bisque;
    padding: 80px 50px 80px 50px;
}

#send-submit {
    display: flex;
    flex-direction: row;
}

#comment {
    min-height: 12lh;
    min-width: 4lh;
    width: 98%;
    overflow: auto;
    resize: none;
    
    font-size: 1rem;

    border-radius: 10px;
    padding: 5px;
}

/* email detail box */
.email-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.email-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    width: 100%;
    padding: 0.5rem 1rem 0rem 0rem;

    label {
        padding-left: 0.3rem;
        font-size: 1.1rem;
    }
}

.email-text {
    color: rgb(31, 31, 31);
    border-radius: 8px;
    min-height: 1.2lh;
    font-size: 0.9rem;
    overflow: hidden;
    resize: none;
}

/* user information */
.user-info-fname {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    width: 100%;
    padding: 0.2rem 1rem 0rem 0rem;

    label {
        padding-left: 0.3rem;
        font-size: 1.1rem;
    }
}

.first_name {
    color: rgb(31, 31, 31);
    border-radius: 8px;
    min-height: 1.2lh;
    font-size: 0.9rem;
    overflow: hidden;
    resize: none;
}

.user-info-lname {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    width: 100%;
    padding: 0.2rem 0rem 0rem 0rem;

    label {
        padding-left: 0.3rem;
        font-size: 1.1rem;
    }
}

.last_name {
    color: rgb(31, 31, 31);
    border-radius: 8px;
    min-height: 1.2lh;
    font-size: 0.9rem;
    overflow: hidden;
    resize: none;
}

/* subject information */
.subject-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    width: 100%;
    padding: 0.5rem 0rem 0rem 0rem;

    label {
        padding-left: 0.3rem;
        font-size: 1.1rem;
    }
}

.subject-box-text {
    color: rgb(31, 31, 31);
    border-radius: 8px;
    min-height: 1.2lh;
    font-size: 0.9rem;
    overflow: hidden;
    resize: none;
}

/* message box */
.message-box {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: 0.5rem 1rem 0rem 0rem;

    label {
        padding-left: 0.3rem;
        font-size: 1.1rem;
    }
}

.message-input {
    color: rgb(31, 31, 31);
    font-size: 0.9rem;

    vertical-align: top;
    line-height: 1.5;

    overflow: auto;
    resize: none;
}

/* send button */
.send-button {
    padding: 0.8rem 1.8rem;
    cursor: url('../imgs/mouse/white-pointer.png'), auto;

    font: 1rem sans-serif;

    transition: all 0.3s ease-in; 
    background-color: rgb(100, 90, 78);
    color: rgb(185, 180, 173);
    border-radius: 4rem;
}

.send-button :hover {
    transition: all 0.3s ease-in; 
    background-color: rgb(61, 55, 47);
    color: rgb(139, 121, 99);
    font-size: 1.1rem;
}

/* Counting the word limit */
.counter-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #333;
    transition: color 0.3s;
}
.counter-container:hover {
    color: #498049;
}
.total-container {
    color: #498049;
    transition: color 0.3s;
}
.total-container:hover {
    color: #498049;
}
.remaining-container {
    color: rgb(192, 90, 90);
    transition: color 0.3s;
}
.remaining-container.limit-exceeded {
    color: rgb(192, 90, 90);
    animation: shake 0.5s;
}