<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="stylesheet" href="../../static/css/articles.css">
    <link rel="stylesheet" href="../../static/css/cabinet.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Glitch&display=swap" rel="stylesheet">  </head>

  <body>
    <!-- Navigation Bar -->
    <div class="exit">
      <a href="{{ url_for('index') }}"><button><p>&#x2715</p></button></a>
    </div>

    <div class="article-list">
        <div id="article" class="article">
            <!--  -->
        </div>
        <hr>
    </div>

    <script src="../static/js/news-article.js"></script>
    <script src="''../static/js/mouse.js"></script>

  </body>
</html>