<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/articles.css">
    <link rel="stylesheet" href="../static/css/cabinet.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Glitch&display=swap" rel="stylesheet">  </head>

  <body>
    <!-- Navigation Bar -->
    <div class="exit">
      <a href=""><button><p>&#x2715</p></button></a>
    </div>

    <div class="article-list">
        <div id="article" class="article">
            <!--  -->
        </div>
        <hr>
    </div>

    <!-- Footer -->
    <footer class="footer">

    <div class="upper-half">
        <div class="fakereal-here">
        <h1 class="rubik-glitch-regular">FakeReal</h1>
        <p>How far is too far?</p>
        </div>
        
        <div class="details">
        <h3>Site Links</h3>
        
        <p>Contact Us</p>
        <p>FAQ</p>

        <br>

        <p>Log In</p>
        <p>Sign Up</p>
        </div>

        <div class="links">
        <div class="download">
            <a href="holder"><img src="../static/imgs/icons/chrome_extension.png" alt="chrome extension"></a>

            <div class="download-text">
            <h1>Scan images at real time!</h1>
            <p>Download our Chrome Extension</p>
            </div>
        </div>

        <div class="report">
            <a href="https://www.ic3.gov/"><img src="../static/imgs/icons/alert.png" alt="report" href="https://www.ic3.gov/"></a>

            <div class="report-text">
            <h1>Report a case!</h1>
            <p>Click here to report a case</p>
            </div>
        </div>
        </div>
    </div>

    <hr>

    <div class="important">
        <p>&copy; 2024 Fake Real™. All rights reserved.</p>
        <p class="csulb">Supported and developed by CSULB and CSULB students.</p>
    </div>
    </footer>

    <script src="../static/js/news-article.js"></script>
    <script src="''../static/js/mouse.js"></script>

  </body>
</html>