.img-size {
    max-width: 30%;
    max-height: 25%;
    border-radius: 10px;
    margin-left: 30px;
}

.examples {
    text-align: center;
    padding-bottom: 10px;

    h2 {
        text-align: left;
        margin-left: 35px;
    }
}

.exampleOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.examplesTwo {
    text-align: center;
    margin-left: 100px;
    padding-bottom: 10px;
    /* background-color: #8e9186; */

    h2 {
        text-align: left;
        margin-left: 45px;
    }
}

.exampleTwo {
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}