/* General Styles */
body {
  /* font-family: Arial, sans-serif; */
  font-family: serif;
  margin: 0;
  padding: 0;
  /* background-color: #ada49a; */
  /* color: #825c42; */

  background-color: rgb(249, 247,240);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

/* Heading Styles */
h1 {
  text-align: center;
  color: rgb(74, 73, 71);
  margin-top: 20px; /* Adds some spacing above the heading */
}

/* Paragraph Styles */
p {
  text-align: center;
  color: rgb(74, 73, 71); 
  margin: 10px 20px; /* Adds some spacing for a cleaner layout */
}

/* Navigation Bar Styles */
nav {
  /* background-color: #3b3d66; */
  background-color: rgb(219, 210, 194);

  overflow: hidden;
  box-shadow: 0 4px 6px rgba(36, 34, 30, 0.1); /* Adds a subtle shadow for depth */
}

.navbar {
  list-style: none;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Ensures spacing for the title */
  align-items: center; /* Vertically centers the items */
}

.navbar .title {
  font-size: 20px;
  font-weight: bold;
  color: #825c42;
  margin-left: 20px; /* Adds space to the left of the title */
  text-transform: uppercase; /* Makes the title all caps */
}

.navbar li {
  margin: 0 8px;
}

.navbar a {
  text-decoration: none;
  color: rgb(74, 73, 71);
  padding: 14px 20px;
  display: block;
  font-weight: bold; /* Makes the links stand out */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.navbar a:hover {
  background-color: rgb(36, 34, 30);
  border-radius: 10px;
  color: #bbb1a4;
}

.navbar button {
  border-radius: 10px;
  color: #825c42;

  a {
    background-color: none;
    color: rgb(36, 34, 30);
  }

  a:hover {
    background-color: #e1d8cc;
    color: #575342;
  }
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px 20px;
  background-color: #3b3d66;
  bottom: 0;
  /* width: 100%; */
  font-size: 14px;

  p {
    color: azure;
  }
}

/* Responsive Design */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Stacks the links vertically on smaller screens */
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar .title {
    margin-left: 0; /* Centers the title on smaller screens */
  }
}
