.deepfake-examples {
    text-align: center;
    /* padding: 20px 0px 20px 0px; */

    padding: 80px 25px 80px 25px;
    background-color: rgb(100, 90, 78);
    /* border-radius: 20px 20px 0px 0px; */

    display: flex;
    flex-direction: column;
}

.title-examples {
    h2 {
        color: black;
        text-align: left;
        margin-left: 35px;
    }
}

.example-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.example {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    align-items: center;
    /* justify-content: center; */
    margin-left: 10px;
    margin-right: 10px;

    padding: 10px 0px 10px 0px;

    h4 {
        color: black;
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }

    p {
        margin: 0px;
        padding: 0px 0px 0px 0px;
    }
}

/* buttons */
.prev {
    color: black;
}

.next {
    color: black;
}