.deepfake-examples {
    text-align: center;
    /* padding: 20px 0px 20px 0px; */

    padding: 80px 25px 80px 25px;
    background-color: rgb(100, 90, 78);
    /* border-radius: 20px 20px 0px 0px; */

    display: flex;
    flex-direction: column;
}

.title-examples {
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        color: rgb(185, 180, 173);
        text-align: left;
        margin-left: 35px;
        font-size: 25px;
    }
}

.example-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.example {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    align-items: center;
    /* justify-content: center; */
    margin-left: 10px;
    margin-right: 10px;

    padding: 10px 0px 10px 0px;

    h4 {
        /* color: black; */
        color: rgb(34, 34, 34);
        margin: 10px 0px 0px 0px;
        padding: 0px;
    }

    p {
        margin: 0px;
        padding: 0px 0px 0px 0px;
    }
}

/* buttons */
.prev, .next {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 5px 0px 5px;
}

.prev:hover, .next:hover {
    color: rgba(0,0,0,0.5);
}

/* dots */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /* transition: background-color 0.6s ease; */
}

.active, .dot:hover {
    background-color: #717171;
}

/* slides */
.mySlides {
    display: none;
}