.head {
    /* padding-top: 30px; */
    text-align: left;
    margin-left: 50px;
    margin-top: 80px;
    margin-right: 25px;

    h1 {
        text-align: left;
        font-weight: bold;
        margin-right: 25px;

        font-size: 15px;
        color: #000000; 
    }
    
    p{
        text-align: left;
        margin: 0px;
        margin-right: 25px;
        font-size: 15px;
        color: #000000;
    }
}

.check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
    padding-bottom: 30px;

    /* background-color: rgb(185, 180, 173); */
    background-color: #828e73;
    border-radius: 20px 20px 0px 0px;

    button {
        margin: 5px;
        padding: 10px;

        background-color: rgb(100, 90, 78);
        border-radius: 20px;
    }   

    button a {
        text-decoration: none;
        color: rgb(185, 180, 173);
    }
}