.head {
    text-align: left;
    /* margin: 0px 25px 0px 50px;
    padding: 80px 25px 80px 25px; */

    background-image: url("/website/imgs/FakeReal.png");

    h1 {
        text-align: left;
        font-weight: bold;

        font-size: 15px;
        color: #000000; 
    }
    
    p{
        text-align: left;
        margin: 0px;
        font-size: 15px;
        color: #000000;
    }
}


/* Log in and sign up button */
.check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 80px 25px 80px 25px;

    font-size: 18px;

    background-color: #828e73;
    border-radius: 20px 20px 0px 0px;

    button {
        margin: 5px;
        padding: 10px 30px;
        font-size: 20px;

        background-color: rgb(100, 90, 78);
        border-radius: 40px;
    }   

    button a {
        text-decoration: none;
        color: rgb(185, 180, 173);
    }
}