.support {
    text-align: left;

    h1 {
        text-align: left;
        font-size: 15px;
        color: #000000; 
        /* font-family: sans-serif; */
        font-weight: bold;
        margin-right: 25px;
    }

    h2 {
        font-size: 30px;
        margin: 0px;
        color: rgb(100, 90, 78);
    }
}

.support-box {
    background-color: rgb(241, 245, 242);
    padding: 20px;
    text-align: left;
    margin: 20px 25px 0px 0px;
    border-radius: 10px;
}

.support-page {
    background-color: bisque;
    padding: 80px 50px 80px 50px;
}

#send-submit {
    display: flex;
    flex-direction: row;
}

#comment {
    height: 100%;
    width: 100%;
}

.email-box label {
    color: rgb(31, 31, 31);
}

.send-button {
    padding: 10px 15px 10px 15px;
    cursor: pointer;

    background-color: rgb(100, 90, 78);
    border-radius: 20px;
}