.support {
    text-align: left;
    padding: 80px 50px 0px 50px;

    h1 {
        text-align: left;
        font-size: 15px;
        color: #000000; 
        /* font-family: sans-serif; */
        font-weight: bold;
        margin-right: 25px;
    }

    h2 {
        font-size: 30px;
        margin: 0px;
    }
}

.support-box {
    background-color: rgb(241, 245, 242);
    padding: 20px;
    text-align: left;
    margin: 20px 50px 0px 50px;
    border-radius: 10px;
}

.support-page {
    background-color: bisque;
    padding-bottom: 80px 25px 80px 50px;
}

#send-submit {
    display: flex;
    flex-direction: row;
}

#comment {
    height: 100%;
    width: 100%;
}

#email-box {
    margin-left: 10px;
}

