<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/logo-sidebar.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Glitch&display=swap" rel="stylesheet">  
</head>

<body>
    <div class="sidebar">
        <li class="logo"><a href="{{ url_for('index') }}"><img src="../static/imgs/logo.png" alt="logo"></a></li>
        <!-- Links to each page -->
        <ul>
            <li><a href="{{ url_for('upload') }}">Upload </a></li>
            <li><a href="{{ url_for('result') }}">Results </a></li>
            <li><a href="{{ url_for('user_edit') }}">Settings </a></li>
            <li><a href="{{ url_for('logout') }}">Logout </a></li>
        </ul>
    </div>
    <div class="main-content" id="main-content">
        <h1></h1>
        <p></p>
    </div>

    <script src="../static/js/sidehover.js"></script>
</body>
</html>
