<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/sidebar.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="logo.png" alt="Logo" width="40">
        </div>
        <!-- Links to each page -->
        <ul>
            <li><a href="{{ url_for('upload') }}">Upload </a></li>
            <li><a href="{{ url_for('result') }}">Results </a></li>
            <li><a href="{{ url_for('user_edit') }}">Settings </a></li>
            <li><a href="{{ url_for('logout') }}">Logout </a></li>
        </ul>
    </div>
    <div class="main-content" id="main-content">
        <h1></h1>
        <p></p>
    </div>

    <script src="../static/js/sidehover.js"></script>
</body>
</html>
