<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password - Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/forgot-password.css">
    <link rel="stylesheet" href="../static/css/footer.css">
  </head>
  
  <body>
    <nav>
      <ul class="navbar">
        <li class="title"><a href="{{ url_for('index') }}">Fake Real</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('login') }}">Login/Sign Up</a></li>
        <li class="report-button"><a href="https://www.ic3.gov/">Report a case!</a></li>
     </ul>
    </nav>

    <div class="main-content">
      <h1>Forgot Your Password?</h1>
      <p>Enter your email below, and we'll send you a password reset link.</p>

      <form action="" method="post" class="forgot-form">
          {{ form.hidden_tag() }}
          <p>
              {{ form.email.label }}<br>
              {{ form.email(size=32) }}
          </p>
          <p>
              {{ form.submit() }}
              <!-- {{ form.submit.label }} -->
          </p>
      </form>

      <p>Remembered your password? <a href="{{ url_for('login') }}">Login here</a>.</p>
    </div>
    
    <footer class="footer">
      <div class="important">
        <p>&copy; 2024 Fake Real™. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
