<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password - Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/navbar.css">

    <link rel="stylesheet" href="../static/css/forgot-password.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/logo.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="navbar">
        <div class="title">
          <a href="{{ url_for('index') }}">Fake Real</a>
        </div>

        <div class="pages">
          <a href="{{ url_for('about') }}" class="nav-hover">About</a>
          <div class="current-nav">
            <a href="{{ url_for('login') }}" class="current-page nav-hover">Log In</a>
          </div>
          <a href="https://www.ic3.gov/" class="report-button">Report a case!</a>
        </div>
      </div>
    </nav>

    <div class="main-content column">
      <h1>Forgot Your Password?</h1>
      <p>Enter your email below, and we'll send you a password reset link.</p>

      <form action="" method="post" class="forgot-password-form">
          {{ form.hidden_tag() }}
          <p>
              {{ form.email.label }}<br>
              {{ form.email(size=32) }}
          </p>
          <p>
              {{ form.submit(class="cursor") }}
              <!-- {{ form.submit.label }} -->
          </p>
      </form>

      <p>Remembered your password? <a class="cursor" href="{{ url_for('login') }}">Login here</a>.</p>
    </div>
    
    <!-- Footer -->
      <!-- Footer -->
      <footer class="footer">

        <div class="upper-half">
          <div class="fakereal-here">
            <h1>FakeReal</h1>
            <p>Our mission to bringing AI detection to the general public.</p>

            <div class="links">
              <div class="download">
                <a href="holder">
                  <img src="../static/imgs/icons/chrome_extension.png" alt="chrome extension">
  
                  <div class="download-text">
                    <h1>Scan images at real time!</h1>
                    <p>Download our Chrome Extension</p>
                  </div>
                </a>
              </div>
  
              <div class="report">
                <a href="https://www.ic3.gov/">
                  <img src="../static/imgs/icons/alert.png" alt="report">
  
                  <div class="report-text">
                    <h1>Report a case!</h1>
                    <p>Click here to report a case</p>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="links-collection">
            <div class="details">
              <h3>Navigation</h3>
              
              <p><a href="{{ url_for('about') }}">Contact Us</a></p>
              <p><a href="{{ url_for('about') }}">FAQ</a></p>
    
              <br>
    
              <p><a href="{{ url_for('login') }}">Log In</a></p>
              <p><a href="{{ url_for('signup') }}">Sign Up</a></p>
            </div>  

            <div class="contact-us">
              <h3>Get in touch</h3>

              <p>&#9993; fakere.41@gmail.com</p>
              <p>
                <a href="https://www.csulb.edu/college-of-engineering/computer-engineering-computer-science">
                <i>&#xf279;</i> Cal State Univeristy, Long Beach
                </a>
              </p>
            </div>

            <div class="downloads">
              
            </div>
          </div>
        </div>

        <hr>

        <div class="important">
          <p>&copy; 2024 Fake Real™. All rights reserved.</p>
          <p class="csulb">Supported and developed by CSULB and CSULB students.</p>
        </div>
      </footer>

    <script src="../static/js/logo-animation.js"></script>
  </body>
</html>
