<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot Password - Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/forgot-password.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/logo.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Glitch&display=swap" rel="stylesheet">  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="navbar">
        <div class="title">
          <a href="{{ url_for('index') }}">Fake Real</a>
        </div>

        <div class="pages nav-scale">
          <a href="{{ url_for('about') }}" class="nav-scale nav-hover">About</a>
          <a href="{{ url_for('login') }}" class="nav-scale nav-hover">Log In</a>
          <a href="https://www.ic3.gov/" class="report-button">Report a case!</a>
        </div>
      </div>
    </nav>

    <div class="main-content">
      <h1>Forgot Your Password?</h1>
      <p>Enter your email below, and we'll send you a password reset link.</p>

      <form action="" method="post" class="forgot-form">
          {{ form.hidden_tag() }}
          <p>
              {{ form.email.label }}<br>
              {{ form.email(size=32) }}
          </p>
          <p>
              {{ form.submit(class="cursor") }}
              <!-- {{ form.submit.label }} -->
          </p>
      </form>

      <p>Remembered your password? <a class="cursor" href="{{ url_for('login') }}">Login here</a>.</p>
    </div>
    
    <footer class="footer">
      <div class="important">
        <p>&copy; 2024 Fake Real™. All rights reserved.</p>
      </div>
    </footer>

    <script src="../static/js/logo-animation.js"></script>
  </body>
</html>
