<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/deepfake-examples.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/articles.css">
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <ul class="navbar">
        <li class="title"><a href="{{ url_for('index') }}">Fake Real</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('login') }}">Login/Sign Up</a></li>
        <li><a href="{{ url_for('upload') }}">Upload</a></li>
        <li class="report-button"><a href="https://www.ic3.gov/">Report a case!</a></li>
      </ul>
    </nav>

    <!-- Header -->
    <div class="head fullscreen-section">
      <h1>Fake Real</h1>
      <p>What's real and what's fake?</p>
    </div>

    <!-- Log in/Sign Up -->
    <div class="check">
      <h1>Want to test if your image is deep faked?</h1>
      <a href="{{ url_for('login') }}"><button>Log In</button></a>
      <a href="{{ url_for('signup') }}"><button>Sign Up</button></a>
    </div>

    <!-- Deepfake examples -->
    <div class="deepfake-examples">
      <div class="title-examples">
        <h2>Deep Fake Examples.</h2>
      </div>

      <div class="example-list">
        <!-- Buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <div class="mySlides">
          <div class="example">
            <img src="../static/imgs/fake.png" alt="fake-img">
            <h4>Face Swap</h4>
            <p>Most common method.</p>
          </div>

          <div class="example">
            <img src="../static/imgs/fake2.png" alt="fake2-img">
            <h4>Voice Cloning</h4>
            <p>Fake audios.</p>
          </div>

          <div class="example">
            <img src="../static/imgs/fake2.png" alt="fake2-img">
            <h4>Lip syncing</h4>
            <p>Fake audios.</p>
          </div>
        </div>

        <div class="mySlides">
          <div class="example">
            <img src="../static/imgs/fake2.png" alt="fake2-img">
            <h4>Synthetic Media</h4>
            <p>Modified or generated images created</p>
            <p>by blending multiple forms of media.</p>
          </div>

          <div class="example">
            <img src="../static/imgs/fake2.png" alt="fake2-img">
            <h4>Full-body manipulation</h4>
            <p>Fake videos or images that modifies </p>
            <p>just the face but the body as well.</p>
          </div>

          <div class="example">
            <img src="../static/imgs/fake2.png" alt="fake2-img">
            <h4>Text-baesd manipulation</h4>
            <p>AI generated texts that imitate the</p>
            <p>writing style of a specific individual.</p>
          </div> 
        </div>
        
        <!-- Buttons -->
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

      <br>
      
      <!-- dots/circles -->
      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <!-- <span class="dot" onclick="currentSlide(3)"></span> -->
      </div>
    </div>

    <!-- Deep fake articles to learn more -->
    <div class="articles">
      <h1>Read more.</h1>

      <div class="article-list">
        <p>Using an API, NewAPI or New York TImes API,, search key words to deep fake, ai, and cyber crimes,,
          <br> display up to 20 only articles,, each week, they can be refreshed.
        </p>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <p>&copy; 2024 Fake Real™. All rights reserved.</p>
    </footer>

    <script src="../static/js/carousel.js"></script>
  </body>
</html>
