<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/deepfake-examples.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/articles.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/logo.css">
    <link rel="stylesheet" href="../static/css/cabinet.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Glitch&display=swap" rel="stylesheet">  
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <ul class="navbar">
        <li><a class="logo" href="{{ url_for('index') }}"><img id="anchor" src="../static/imgs/logo-base.png" alt="logo"></a></li>
        <li><a class="eye" href="{{ url_for('index') }}"><img class="eyeball" src="../static/imgs/logo-eye.png" alt="logo"></a></li>

        <li class="title rubik-glitch-regular nav-scale"><a href="{{ url_for('index') }}">Fake Real</a></li>
        <li class="nav-scale"><a href="{{ url_for('about') }}">About</a></li>
        <li class="nav-scale"><a href="{{ url_for('login') }}">Login/Sign Up</a></li>
        <li class="report-button nav-scale"><a href="https://www.ic3.gov/">Report a case!</a></li>
      </ul>
    </nav>

    <!-- Header -->
    <div class="head fullscreen-section">
      <h1>Fake Real</h1>
      <h2>What's real and what's fake?</h2>
      <br>
      <p>FakeReal offers deep fake detection for images for free. Either log in or download the
        chrome extension browser. Our services is user friendly, allowing users to upload a file 
        to get a multilayer assessment in just a few seconds.
      </p>
    </div>

    <!-- Log in/Sign Up -->
    <div class="check revealable">
      <h1 class="scale">Want to test if your image is deep faked?</h1>
      <a href="{{ url_for('login') }}" class="scale"><button>Log In</button></a>
      <a href="{{ url_for('signup') }}" class="scale"><button>Sign Up</button></a>
    </div>

    <div class="blur-parent">
      <div class="blur-two"></div>
      <div class="blur-into"></div>
    </div>

    <!-- Deepfake examples -->
    <div class="sticky_parent">
      <div class="deepfake-examples">
        <div class="title-examples scale">
          <h2>Deep Fake Examples.</h2>
        </div>

        <div class="example-list">
          <div class="example ex-scale">
            <img src="../static/imgs/examples/voiceclone.png" alt="fake2-img">
            <h4>Voice Cloning</h4>
            <p>This technology creates a synthetic copy of a person's voice by analyzing 
              existing recordings.  It has applications in personalized assistants, accessibility 
              tools, and content creation.  However, it also raises ethical concerns 
              about misuse and deepfakes.  The technology is constantly improving, focusing on naturalness and safeguards.</p>
          </div>

          <div class="example ex-scale">
            <img src="../static/imgs/examples/syntheticmedia.jpg" alt="fake2-img">
            <h4>Synthetic Media</h4>
            <p>The use of artificial intelligence to generate or manipulate media content, 
              such as images, videos, and audio. This includes creating entirely new content 
              from scratch (like AI-generated art), modifying existing content (like deepfakes), 
              or enhancing content (like upscaling images).  While offering creative possibilities 
              and practical applications, synthetic media also raises ethical concerns about 
              misinformation, manipulation, and misuse.</p>
          </div>

          <div class="example ex-scale">
            <video><source src="../static/imgs/examples/gooey.ai lipsync.mp4" type="video/mp4"></video>
            <h4>Lip syncing</h4>
            <p>This AI automatically synchronizes digital character lip movements with audio.  It analyzes the audio to 
              generate realistic lip motions for animation, games, and film.  This technology saves time and effort in 
              character animation, and its accuracy is continually improving.</p>
          </div>

          <div class="example ex-scale">
            <img src="../static/imgs/examples/fullbodymanipulation.jpg" alt="fake2-img">
            <h4>Full-body manipulation</h4>
            <p>Fake videos or images that alter or create realistic digital representations of 
              human bodies in images or videos. This can range from subtle adjustments like changing 
              posture or body shape to more dramatic alterations like adding or removing limbs, 
              changing clothing, or creating entirely new digital humans. Applications include virtual 
              try-on for clothing, creating digital doubles for films, and generating realistic avatars 
              for virtual worlds. However, this technology also carries ethical concerns regarding body 
              image issues, the potential for misuse in creating deepfakes, and the blurring of lines 
              between reality and digitally fabricated content.</p>
          </div>

          <div class="example ex-scale">
            <img src="../static/imgs/examples/faceswap.jpg" alt="fake-img">
            <h4>Face Swap</h4>
            <p>One of the most common method of technology that uses artificial intelligence to 
              replace one face in an image or video with another. It analyzes the facial features, 
              expressions, and lighting of both faces to create a realistic and seamless blend. 
              This technology has various applications, from entertainment and creative expression 
              to security and identity verification. However, it also raises ethical concerns regarding 
              potential misuse, such as creating deepfakes or spreading misinformation.</p>
          </div>

          <div class="example ex-scale">
            <img src="../static/imgs/examples/textmanipulation.png" alt="fake2-img">
            <h4>Text-based manipulation</h4>
            <p>AI generated texts that imitate the writing style of a specific 
              individuals. This encompasses a range of tasks, from rewriting text 
              while preserving its meaning and summarizing lengthy documents to 
              translating between languages and adapting writing style. Furthermore, 
              it includes the generation of entirely new text, such as articles, 
              poems, or code. These capabilities find applications in diverse fields 
              like writing assistance, content creation, and language learning. 
              However, this technology also presents challenges, raising concerns about 
              plagiarism, the spread of misinformation, and the potential for misuse in 
              creating harmful or misleading content.</p>
          </div>
        </div>
      </div>
    </div>

    <section class="revealable">

      <div class="blur-parent">
        <div class="blur"></div>
        <div class="arti-blur"></div>
      </div>

      <!-- Deep fake articles to learn more -->
      <div class="articles" id="read-more">
        <h1>Read more.</h1>

        <h2>
          Feel free to read some of articles
          we collected and our personal picks monthly.
          The file cabinets are organized as labeled.
        </h2>

        <div class="files">

          <!-- cabinet one -->
          <div class="cabinet-stack">
            <!-- Cabinet - the lid -->
            <div class="cabinet-lid">
              <hr>
            </div>
            
            <div class="cabinet">
              <div class="top-lid">
                <!--  -->
              </div>
              <div class="handle">
                <a href="{{ url_for('feb_article') }}">
                  <button class="handle-button"></button>
                </a>

                <div class="full-screen hidden flex-container-center">
                  <button class="close-button" onclick=""><p>&#x2715</p></button>

                  <div class="article-list">
                    <div id="article" class="article">
                    </div>
                    <hr>
                  </div>
                </div>
                
              </div>
              <div class="cabinet-label">
                <h1>Feb 2025</h1>
              </div>
            </div>
            <div class="cabinet">
              <div class="top-lid">
                <!--  -->
              </div>
              <div class="handle">
                <a href="{{ url_for('empty_cab') }}"><button></button></a>
              </div>
              <div class="cabinet-label">
                <h1>....</h1>
              </div>
            </div>
            <div class="cabinet">
              <div class="top-lid">
                <!--  -->
              </div>
              <div class="handle">
                <a href="{{ url_for('empty_cab') }}"><button></button></a>
              </div>
              <div class="cabinet-label">
                <h1>...</h1>
              </div>
            </div>

            <!-- Cabinet - bottom -->
            <div class="cabinet-lid">
              <br>
            </div>
          </div>

          <!-- cabinet two -->
          <div class="cabinet-stack">
            <!-- Cabinet - the lid -->
            <div class="cabinet-lid">
              <hr>
            </div>
            
            <div class="cabinet">
              <div class="top-lid">
                <!--  -->
              </div>
              <div class="handle">
                <a href="{{ url_for('empty_cab') }}"><button></button></a>
              </div>
              <div class="cabinet-label">
                <h1>...</h1>
              </div>
            </div>
            <div class="cabinet">
              <div class="top-lid">
                <!--  -->
              </div>
              <div class="handle">
                <a href="{{ url_for('empty_cab') }}"><button></button></a>
              </div>
              <div class="cabinet-label">
                <h1>....</h1>
              </div>
            </div>
            <div class="cabinet">
              <div class="top-lid">
                <!--  -->
              </div>
              <div class="handle">
                <a href="{{ url_for('empty_cab') }}"><button></button></a>
              </div>
              <div class="cabinet-label">
                <h1>...</h1>
              </div>
            </div>

            <!-- Cabinet - bottom -->
            <div class="cabinet-lid">
              <br>
            </div>
          </div>

        </div>

      </div>

      <!-- Footer -->
      <footer class="footer">

        <div class="upper-half">
          <div class="fakereal-here">
            <h1 class="rubik-glitch-regular">FakeReal</h1>
            <p>How far is too far?</p>
          </div>
          
          <div class="details">
            <h3>Site Links</h3>
            
            <p><a href="{{ url_for('about') }}">Contact Us</a></p>
            <p><a href="{{ url_for('about') }}">FAQ</a></p>
  
            <br>
  
            <p><a href="{{ url_for('login') }}">Log In</a></p>
            <p><a href="{{ url_for('signup') }}">Sign Up</a></p>
          </div>

          <div class="links">
            <div class="download">
              <a href="holder"><img src="../static/imgs/icons/chrome_extension.png" alt="chrome extension"></a>

              <div class="download-text">
                <h1>Scan images at real time!</h1>
                <p>Download our Chrome Extension</p>
              </div>
            </div>

            <div class="report">
              <a href="https://www.ic3.gov/"><img src="../static/imgs/icons/alert.png" alt="report" href="https://www.ic3.gov/"></a>

              <div class="report-text">
                <h1>Report a case!</h1>
                <p>Click here to report a case</p>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="important">
          <p>&copy; 2024 Fake Real™. All rights reserved.</p>
          <p class="csulb">Supported and developed by CSULB and CSULB students.</p>
        </div>
      </footer>

    </section>

    <script src="''../static/js/mouse.js"></script>
    <script src="../static/js/carousel.js"></script>
    <script src="../static/js/logo-animation.js"></script>
    <script src="../static/js/animation.js"></script>
    <script src="../static/js/news-article.js"></script>
  </body>
</html>
