<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login - Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/center.css">
    <link rel="stylesheet" href="../static/css/footer.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&family=Rubik+Glitch&display=swap" rel="stylesheet">  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <ul class="navbar">
        <li class="logo" id="anchor"><a href="{{ url_for('index') }}"><img id="anchor" src="../static/imgs/logo-base.png"></a></li>
        <div class="eye-size">
          <li class="eye"><a href="{{ url_for('index') }}"><img class="eyeball" src="../static/imgs/logo-eye.png"></a></li>
        </div>

        <li class="title rubik-glitch-regular"><a href="{{ url_for('index') }}">Fake Real</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('login') }}">Login/Sign Up</a></li>
        <li class="report-button"><a href="https://www.ic3.gov/">Report a case!</a></li>
      </ul>
    </nav>

    <div class="main-content">

      <h1>Login to Fake Real</h1>
      <p>Please enter your credentials to access your account.</p>

      <!-- Login Form -->
      <form action="" method="POST" class="login-form">
          {{ form.hidden_tag() }}
          <p>
              {{ form.email.label }}<br>
              {{ form.email(size=32) }}
          </p>
          <p>
              {{ form.password.label }}<br>
              {{ form.password(size=32) }}
          </p>
          <p>
              {{ form.submit() }}<br>
              <!-- {{ form.submit.label }} -->
          </p>
      </form>

      <!-- Link to Sign Up -->
      <p><a href="{{ url_for('forgot_password') }}">Forgot Password?</a>.</p>
      <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.</p>

    </div>

    <!-- Footer -->
    <footer class="footer">

      <div class="upper-half">
        <div class="fakereal-here">
          <h1>FakeReal</h1>
          <p>How far is too far?</p>
        </div>
        
        <div class="details">
          <h3>Site Links</h3>
          
          <p>Contact Us</p>
          <p>FAQ</p>

          <br>

          <p>Log In</p>
          <p>Sign Up</p>
        </div>

        <div class="links">
          <div class="download">
            <a href="holder"><img src="../static/imgs/icons/chrome_extension.png" alt="chrome extension"></a>

            <div class="download-text">
              <h1>Scan images at real time!</h1>
              <p>Download our Chrome Extension</p>
            </div>
          </div>

          <div class="report">
            <a href="https://www.ic3.gov/"><img src="../static/imgs/icons/alert.png" alt="report" href="https://www.ic3.gov/"></a>

            <div class="report-text">
              <h1>Report a case!</h1>
              <p>Click here to report a case</p>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="important">
        <p>&copy; 2024 Fake Real™. All rights reserved.</p>
        <p class="csulb">Supported and developed by CSULB and CSULB students.</p>
      </div>
    </footer>
    
  </body>
</html>
