<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up - Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/signup-style.css">
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav>
      <ul class="navbar">
        <li class="title"><a href="{{ url_for('index') }}">Fake Real</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('login') }}">Login/Sign Up</a></li>
        <li class="report-button"><a href="https://www.ic3.gov/">Report a case!</a></li>
      </ul>
    </nav>

    <div class="main-content">

      <div class="signup-container">
        <h1>Create Your Account</h1>
        <p>Join Fake Real to explore more DeepFakes!</p>

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.first_name.label }}<br>
                {{ form.first_name(size=32) }}
            </p>
            <p>
                {{ form.last_name.label }}<br>
                {{ form.last_name(size=32) }}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}
            </p>
            <input type="checkbox" id="showPassword"> Show Password <br><br>
            <p>
                {{ form.submit() }}<br>
                <!--{{ form.submit.label }}-->
            </p>
            <!--<label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName" required><br><br>

    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label for="confirmPassword">Confirm Password:</label><br>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>

    <button type="submit">Sign Up</button> -->
            <!-- Password requirements section -->
            <div class="password-requirements">
                <p>Password must meet the following requirements:</p>
                <ul>
                    <li>At least 8 characters long</li>
                    <li>At least one uppercase letter (A-Z)</li>
                    <li>At least one lowercase letter (a-z)</li>
                    <li>At least one number (0-9)</li>
                    <li>At least one special character (!@#$%^&*)</li>
                </ul>
            </div>
        </form>
      </div>
      
    </div>

    <!-- Footer -->
    <footer>
      <p>&copy; 2024 Fake Real™. All rights reserved.</p>
    </footer>
    <script src="../static/js/restrictions.js"></script>
  </body>
</html>
