<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login - Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/upload.css">
    <link rel="stylesheet" href="../static/css/footer.css">
  </head>

  <body>

    <div class="main-content">
      <!-- Upload Image -->
      <div class="upload-section">
        <h1>Upload an Image</h1>  
        <form id="uploadForm" enctype="multipart/form-data">
          <div class="upload-box">
            <label for="image">Choose an Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required onchange="previewImage()">
          </div>
          <br>
          <!-- Previews the Image -->
          <div id="preview-box" class="preview-box">
            <p>No image selected</p>
          </div>
          <br>
          <!-- Submits image to database -->
          <div class="send-submit">
            <button type="submit">Upload</button>
          </div>
        </form>
        <div id="message"></div>
      </div>
    </div>
      
    <!-- Footer -->
    <footer class="footer">

      <div class="upper-half">
        <div class="fakereal-here">
          <h1>FakeReal</h1>
          <p>How far is too far?</p>
        </div>
        
        <div class="details">
          <h3>Site Links</h3>
          
          <p>Contact Us</p>
          <p>FAQ</p>

          <br>

          <p>Log In</p>
          <p>Sign Up</p>
        </div>

        <div class="links">
          <div class="download">
            <a href="holder"><img src="../static/imgs/icons/chrome_extension.png" alt="chrome extension"></a>

            <div class="download-text">
              <h1>Scan images at real time!</h1>
              <p>Download our Chrome Extension</p>
            </div>
          </div>

          <div class="report">
            <a href="https://www.ic3.gov/"><img src="../static/imgs/icons/alert.png" alt="report" href="https://www.ic3.gov/"></a>

            <div class="report-text">
              <h1>Report a case!</h1>
              <p>Click here to report a case</p>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="important">
        <p>&copy; 2024 Fake Real™. All rights reserved.</p>
        <p class="csulb">Supported and developed by CSULB and CSULB students.</p>
      </div>
    </footer>

    <script src="../static/js/upload-limit.js"></script>
  </body>
</html>
