<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login - Fake Real</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/upload.css">
        <link rel="stylesheet" href="../static/css/dashboard-base.css">
    </head>

    <body>
        <!-- Upload Image -->
        <div class="upload-section">
            <h1>Upload an Image</h1>
            <form method="POST" action="{{ url_for('_file_upload') }}" enctype="multipart/form-data" id="UploadImage">
                {{ form.hidden_tag() }}
                {{ form.file.label }} <br />
                {{ form.file(id="file",accept=".jpg,.jpeg,.png",type="file") }}<br />
                <div id="preview-box" class="preview-box">
                    <img id="preview" src="#" alt="Image Preview" style="max-width: 900px; display: none;" /><br><br>
                </div>
                               
                {{ form.submit() }}
            </form>
            <script>
                document.getElementById("file").onchange = function (event) {
                    const [file] = event.target.files;
                    if (file) {
                        const preview = document.getElementById("preview");
                        preview.src = URL.createObjectURL(file);
                        preview.style.display = "block";
                    }
                };
            </script>
            <div id="message"></div>
        </div>

        <script src="../static/js/upload-limit.js"></script>
        <script src="../static/js/sidehover.js"></script>
        <script src="../static/js/results.js"></script>
        <script>
            document.getElementById('send_to_ai').addEventListener('change', function() {
                if (this.checked) {
                    alert("By sending this image to the AI model, you agree that it will be used to train and improve AI capabilities.");
                }
            });
        </script>
        
    </body>
</html>