<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login - Fake Real</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/profile-edit.css">
    <link rel="stylesheet" href="../static/css/footer.css">
  </head>

  <body>

      <div class="profile">
          <!-- Flashes status messages, still barebones -->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <form action="" method="POST">
              <!-- Entry for each text field -->
              <div class="form-group">
                  {{ form.hidden_tag() }}
                  {{ form.email.label }}
                  {{ form.email(class="email-box", placeholder="Enter new email") }}
              </div>

              <div class="form-group">
                  {{ form.first_name.label }}
                  {{ form.first_name(id="first-name", type="text", placeholder="First Name") }}
              </div>

              <div class="form-group">
                  {{ form.last_name.label }}
                  {{ form.last_name(id="last-name", type="text", placeholder="Last Name") }}
              </div>

              <div class="form-group">
                  {{ form.old_password.label }}
                  {{ form.old_password(id="old-password", type="password", placeholder="Current Password") }}
              </div>

              <div class="form-group">
                  {{ form.new_password.label }}
                  {{ form.new_password(id="new-password", type="password", placeholder="New Password") }}
              </div>

              {{ form.submit(type="submit") }}
              {{ form.delete_account() }}
          </form>
      </div>
  
    <!-- Footer -->
    <footer class="footer">

      <div class="upper-half">
        <div class="fakereal-here">
          <h1>FakeReal</h1>
          <p>How far is too far?</p>
        </div>
        
        <div class="details">
          <h3>Site Links</h3>
          
          <p>Contact Us</p>
          <p>FAQ</p>

          <br>

          <p>Log In</p>
          <p>Sign Up</p>
        </div>

        <div class="links">
          <div class="download">
            <a href="holder"><img src="../static/imgs/icons/chrome_extension.png" alt="chrome extension"></a>

            <div class="download-text">
              <h1>Scan images at real time!</h1>
              <p>Download our Chrome Extension</p>
            </div>
          </div>

          <div class="report">
            <a href="https://www.ic3.gov/"><img src="../static/imgs/icons/alert.png" alt="report" href="https://www.ic3.gov/"></a>

            <div class="report-text">
              <h1>Report a case!</h1>
              <p>Click here to report a case</p>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="important">
        <p>&copy; 2024 Fake Real™. All rights reserved.</p>
        <p class="csulb">Supported and developed by CSULB and CSULB students.</p>
      </div>
    </footer>
    
  </body>
</html>
